body {
	background-color: #e9ecef;
	font-family: helvetica, arial, sans-serif;
	line-height: 16px;
	position: relative;
}

a.nav-link {
	font-weight: bold;
}
.navbar navbar-expand-lg navbar-light bg-light fixed-top .container img {
	background-color: white !important;
	height: 7rem;
}

#navbarSupportedContent a.nav-link:hover,
#navbarSupportedContent a.nav-link:focus {
	color: #f93b03;
}

.navbar-brand img {
	scale: 80%
}

.mainContent {
	padding: 4rem 2rem;
}
.tabStyle {
	padding-left: 138px;
}
.tabStyle1 {
	padding-left: 120px;
}

.container #mainImg {
	width: 44rem;
	height: 25rem;
}

.mainBio {
	margin-top: 100px;
	padding: 4rem 2rem;
}

#images {
	height: 70px;
	width: auto;
}

section {
	padding: 20px;
	width: 100%;
	margin: 50px auto;
}

section ul {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
	justify-content: center;
}

section ul li {
	list-style: none;
	padding: 8px 20px;
	margin: 5px;
	background: white;
	letter-spacing: 1px;
	cursor: pointer;
}

section ul li.active,section ul li:hover {
	background: #03a9f4;
	color: #fff;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.projects .itembox {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 10px;
	flex: 1 1 15%;
}

.projects .img-fluid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}

.footer {
	position: fixed-bottom;
	width: 100%;
	left: 0;
	bottom: 0;
	color: black;
	font-size: large;
	text-align: center;
	/* border-top: solid 1px #ccc; */
	margin: 30px;
	padding: 10px;
}


.sidenav {
	/* height: 100%; */
	width: 10rem; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: #e9ecef;
	overflow-x: hidden; 
	padding-top: 20px;
	margin-top: 25%;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #818181;
	display: block;
	background-color: #e9ecef;
}

.sidenav a:hover {
	color: #f93b03;
}

@media screen and (max-width: 1400px) {
	.sidenav {
		display: none;
	}
}
