body {
	/* background: lightgray; */
	background-color: #e9ecef;
	font-family: 'Vollkorn', serif;
	position: relative;
}

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
/* .navbar {
	position: fixed-top;
} */
a.nav-link {
	font-weight: bold;
}
.navbar navbar-expand-lg navbar-light bg-light fixed-top .container img {
	background-color: white !important;
	height: 60px;
}

#navbarSupportedContent a.nav-link:hover,
#navbarSupportedContent a.nav-link:focus {
	color: #f93b03;
}

.mainContent {
	margin-top: 50px;
	padding: 4rem 2rem;
}

.mainBio {
	margin-top: 100px;
	padding: 4rem 2rem;
}

img {
	height: 70px;
	width: auto;
}
/* #mainBiography {
	margin-top: 150px;
	/* padding: 4rem 2rem; */
/* margin-left: 160px; /* Same as the width of the sidebar */
/* padding: 0px 10px; */
/* border-top: solid 5px black; */
/* left: 70px; */
/* margin: 0 auto; */
/* text-align: left; */
/* position: absolute; */

section {
	padding: 20px;
	width: 1280px;
	margin: 100px auto;
}

section ul {
	display: flex;
	margin-bottom: 10px;
}

section ul li {
	list-style: none;
	padding: 8px 20px;
	margin: 5px;
	background: white;
	letter-spacing: 1px;
	cursor: pointer;
}

section ul li.active {
	background: #03a9f4;
	color: #fff;
}

.projects {
	display: flex;
	flex-wrap: wrap;
}

.projects .itemBox {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 5px;
}

.projects .itemBox img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#footer {
	color: black;
	font-size: small;
	text-align: center;
	border-top: solid 1px #ccc;
	margin: 60px 220px 0 0;
}

#footerImg {
	height: auto;
}

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #e9ecef;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
	margin-top: 200px;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #818181;
	display: block;
	background-color: #e9ecef;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f93b03;
}
